Repository mapoio/lnvoicing-management-system: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.json, prettier --write, stylelint --fix

.lintstagedrc:

{
    "src/**/*.{ts,tsx}": ["tslint -c tslint.json", "prettier --write", "git add"],
    "src/**/*.scss": ["stylelint --fix", "prettier --write", "git add"]
}

feat: add GraphQL Schema
  build/constants.js
  build/rules/styleRules.js
  build/schema.gql
  build/webpack.config.js
  package-lock.json
  package.json
  src/containers/views/Home/menu.ts
  src/index.scss.d.ts
  yarn.lock
Due: tslint -c tslint.json, prettier --write

feat: add basic
  package.json
  src/containers/views/Brand/index.scss
  src/containers/views/Brand/table.scss
  src/containers/views/Goods/index.scss
  src/containers/views/Goods/table.scss
  src/containers/views/Home/Header/index.scss
  src/containers/views/Home/Sider/index.scss
  src/containers/views/Home/index.scss
  src/containers/views/Model/index.scss
  src/containers/views/Model/table.scss
  src/utils/http.ts
Due: tslint -c tslint.json, prettier --write, stylelint --fix

feat: model function done!
  .stylelintrc.js
  package.json
  src/components/UseStates/index.ts
  src/components/UseStates/update.ts
  src/constants/componets.ts
  src/constants/index.ts
  src/containers/shared/style/index.scss
  src/containers/shared/style/index.scss.d.ts
  src/containers/views/Brand/table.tsx
  src/containers/views/Goods/table.tsx
  src/containers/views/Model/create.tsx
  src/containers/views/Model/index.scss.d.ts
  src/containers/views/Model/index.tsx
  src/containers/views/Model/model.tsx
  src/containers/views/Model/table.scss
  src/containers/views/Model/table.tsx
  src/containers/views/Model/update.tsx
  src/index.scss
  src/services/gql/model.ts
  src/services/gql/user.ts
  src/store/model.ts
  src/utils/quiz.ts
Due: tslint -c tslint.json, prettier --write, stylelint --fix

feat: add Brand function
  src/containers/views/Brand/create.tsx
  src/containers/views/Brand/index.scss
  src/containers/views/Brand/index.scss.d.ts
  src/containers/views/Brand/index.tsx
  src/containers/views/Brand/model.tsx
  src/containers/views/Brand/table.scss
  src/containers/views/Brand/table.scss.d.ts
  src/containers/views/Brand/table.tsx
  src/containers/views/Brand/update.tsx
  src/services/gql/brand.ts
  src/store/brand.ts
  src/store/model.ts
Due: tslint -c tslint.json, prettier --write, stylelint --fix

feat: add customer
  apollo.config.js
  src/containers/views/Customer/create.tsx
  src/containers/views/Customer/form.tsx
  src/containers/views/Customer/index.tsx
  src/containers/views/Customer/table.tsx
  src/containers/views/Customer/update.tsx
  src/containers/views/Model/table.tsx
  src/router/asyncComponets.ts
  src/router/index.ts
  src/services/gql/customer.ts
  src/store/customer.ts
Due: tslint -c tslint.json, prettier --write

feat: add active button
  README.md
  build/schema.gql
  src/containers/views/Customer/form.tsx
  src/containers/views/Customer/table.tsx
  src/store/customer.ts
Due: tslint -c tslint.json, prettier --write

feat: add goods model
  apollo.config.js
  build/webpack.config.js
  package.json
  src/containers/views/Brand/table.tsx
  src/containers/views/Good/create.tsx
  src/containers/views/Good/form.tsx
  src/containers/views/Good/index.tsx
  src/containers/views/Good/table.tsx
  src/containers/views/Good/update.tsx
  src/containers/views/Model/table.tsx
  src/containers/views/Supplier/create.tsx
  src/containers/views/Supplier/form.tsx
  src/containers/views/Supplier/index.tsx
  src/containers/views/Supplier/table.tsx
  src/containers/views/Supplier/update.tsx
  src/router/asyncComponets.ts
  src/router/index.ts
  src/services/gql/good.ts
  src/services/gql/supplier.ts
  src/store/brand.ts
  src/store/good.ts
  src/store/supplier.ts
  src/utils/quiz.ts
  yarn.lock
Due: tslint -c tslint.json, prettier --write

feat: barcode add
  package.json
  src/containers/views/Customer/form.tsx
  src/containers/views/Customer/table.tsx
  src/containers/views/Good/form.tsx
  src/containers/views/Purchase/create.tsx
  src/containers/views/Purchase/form.tsx
  src/containers/views/Purchase/index.tsx
  src/containers/views/Purchase/table.tsx
  src/containers/views/Purchase/update.tsx
  src/containers/views/Repertory/create.tsx
  src/containers/views/Repertory/form.tsx
  src/containers/views/Repertory/index.tsx
  src/containers/views/Repertory/table.tsx
  src/containers/views/Repertory/update.tsx
  src/containers/views/Supplier/table.tsx
  src/router/asyncComponets.ts
  src/router/index.ts
  src/services/gql/brand.ts
  src/services/gql/customer.ts
  src/services/gql/good.ts
  src/services/gql/model.ts
  src/services/gql/purchase.ts
  src/services/gql/purchaseitem.ts
  src/services/gql/repertory.ts
  src/services/gql/stock.ts
  src/services/gql/supplier.ts
  src/store/auth.ts
  src/store/brand.ts
  src/store/customer.ts
  src/store/good.ts
  src/store/model.ts
  src/store/purchase.ts
  src/store/repertory.ts
  src/utils/quiz.ts
  yarn.lock
Due: tslint -c tslint.json, prettier --write

feat: add purchase
  src/containers/shared/style/index.scss
  src/containers/shared/style/index.scss.d.ts
  src/containers/views/Purchase/createPage.tsx
  src/containers/views/Purchase/form.tsx
  src/containers/views/Purchase/index.tsx
  src/containers/views/Purchase/table.tsx
  src/containers/views/Purchase/view.tsx
  src/services/gql/purchase.ts
  src/utils/quiz.ts
Due: tslint -c tslint.json, prettier --write, stylelint --fix

feat: add purchese
  src/containers/shared/style/index.scss
  src/containers/shared/style/index.scss.d.ts
  src/containers/views/Good/service.tsx
  src/containers/views/Purchase/create.tsx
  src/containers/views/Purchase/table.tsx
  src/containers/views/Supplier/service.tsx
  src/services/gql/purchase.ts
  src/services/gql/purchaseitem.ts
  src/store/purchase.ts
Due: tslint -c tslint.json, prettier --write, stylelint --fix

feat: add template
  src/containers/views/Purchase/createPage.tsx
  src/containers/views/Purchase/table.tsx
  src/containers/views/Purchase/update.tsx
  src/router/index.ts
  src/services/gql/brand.ts
  src/services/gql/customer.ts
  src/services/gql/good.ts
  src/services/gql/goods.ts
  src/services/gql/model.ts
  src/services/gql/purchase.ts
  src/services/gql/purchaseitem.ts
  src/services/gql/repertory.ts
  src/services/gql/stock.ts
  src/services/gql/supplier.ts
Due: tslint -c tslint.json, prettier --write

feat: add resale
  src/containers/views/Customer/service.tsx
  src/containers/views/Purchase/form.tsx
  src/containers/views/Resale/create.tsx
  src/containers/views/Resale/index.tsx
  src/containers/views/Resale/table.tsx
  src/containers/views/Resale/view.tsx
  src/router/asyncComponets.ts
  src/router/index.ts
  src/services/gql/customer.ts
  src/services/gql/resale.ts
  src/services/gql/resaleitem.ts
  src/store/resale.ts
Due: tslint -c tslint.json, prettier --write

feat: add resale
  src/containers/views/Purchase/table.tsx
  src/containers/views/Resale/table.tsx
  src/containers/views/Resale/view.tsx
  src/router/index.ts
  src/store/resale.ts
Due: tslint -c tslint.json, prettier --write

feat: change update time
  src/containers/views/Purchase/table.tsx
  src/containers/views/Resale/view.tsx
  src/containers/views/Sale/create.tsx
  src/containers/views/Sale/index.tsx
  src/containers/views/Sale/table.tsx
  src/containers/views/Sale/view.tsx
  src/router/asyncComponets.ts
  src/router/index.ts
  src/services/gql/sale.ts
  src/services/gql/saleitem.ts
  src/store/sale.ts
Due: tslint -c tslint.json, prettier --write

feat: add stockin
  src/containers/shared/util/DynamicTag.tsx
  src/containers/shared/util/index.ts
  src/containers/views/Good/create.tsx
  src/containers/views/Good/form.tsx
  src/containers/views/Purchase/service.tsx
  src/containers/views/Purchase/table.tsx
  src/containers/views/Repertory/service.tsx
  src/containers/views/Resale/service.tsx
  src/containers/views/Sale/create.tsx
  src/containers/views/Sale/table.tsx
  src/containers/views/Stock/index.tsx
  src/containers/views/Stock/table.tsx
  src/containers/views/Stockin/create.tsx
  src/containers/views/Stockin/index.tsx
  src/containers/views/Stockin/table.tsx
  src/containers/views/Stockin/view.tsx
  src/router/asyncComponets.ts
  src/router/index.ts
  src/services/gql/good.ts
  src/services/gql/purchaseitem.ts
  src/services/gql/resaleitem.ts
  src/services/gql/saleitem.ts
  src/services/gql/stock.ts
  src/services/gql/stockin.ts
  src/store/good.ts
  src/store/stockin.ts
  src/utils/http.ts
  src/utils/quiz.ts
Due: tslint -c tslint.json, prettier --write

feat: add stockout
  src/containers/shared/util/DynamicSelectTag.tsx
  src/containers/shared/util/DynamicTag.tsx
  src/containers/shared/util/index.ts
  src/containers/views/Dashboard/index.test.tsx
  src/containers/views/Dashboard/index.tsx
  src/containers/views/Dashboard/style.scss
  src/containers/views/Dashboard/style.scss.d.ts
  src/containers/views/Dashboard/table.tsx
  src/containers/views/Employee/create.tsx
  src/containers/views/Employee/form.tsx
  src/containers/views/Employee/index.tsx
  src/containers/views/Employee/table.tsx
  src/containers/views/Employee/update.tsx
  src/containers/views/Home/Sider/Menu.tsx
  src/containers/views/Home/Sider/index.tsx
  src/containers/views/Sale/service.tsx
  src/containers/views/Stock/table.tsx
  src/containers/views/Stockout/create.tsx
  src/containers/views/Stockout/index.tsx
  src/containers/views/Stockout/table.tsx
  src/containers/views/Stockout/view.tsx
  src/router/asyncComponets.ts
  src/router/index.ts
  src/services/gql/employee.ts
  src/services/gql/resaleitem.ts
  src/services/gql/stock.ts
  src/services/gql/stockout.ts
  src/services/gql/user.ts
  src/store/employee.ts
  src/store/global/index.ts
  src/store/stockout.ts
Due: tslint -c tslint.json, prettier --write, stylelint --fix

feat: end this work
  src/constants/index.ts
  src/containers/shared/PrivateRoute/index.tsx
  src/containers/views/Employee/create.tsx
  src/containers/views/Employee/form.tsx
  src/containers/views/Employee/update.tsx
  src/containers/views/Home/Header/index.tsx
  src/containers/views/Home/Sider/Menu.tsx
  src/containers/views/Login/index.tsx
  src/services/gql/user.ts
  src/store/auth.ts
  src/utils/http.ts
Due: tslint -c tslint.json, prettier --write

feat: done
  build/tpl/index.html
  package.json
  src/containers/views/Home/Header/index.tsx
  src/store/brand.ts
  src/store/customer.ts
  src/store/employee.ts
  src/store/good.ts
  src/store/model.ts
  src/store/purchase.ts
  src/store/repertory.ts
  src/store/resale.ts
  src/store/sale.ts
  src/store/stockin.ts
  src/store/stockout.ts
  src/store/supplier.ts
  yarn.lock
Due: tslint -c tslint.json, prettier --write

fix: lint
  src/containers/shared/PrivateRoute/index.tsx
  src/containers/views/Customer/table.tsx
  src/containers/views/Good/service.tsx
  src/containers/views/Good/table.tsx
  src/containers/views/Home/Sider/Menu.tsx
  src/containers/views/Purchase/create.tsx
  src/containers/views/Resale/create.tsx
  src/containers/views/Sale/create.tsx
  src/containers/views/Stockin/create.tsx
  src/router/asyncComponets.ts
  src/services/gql/purchaseitem.ts
  src/services/gql/resaleitem.ts
  src/services/gql/saleitem.ts
  src/store/auth.ts
  src/store/index.ts
  src/store/stockin.ts
  src/store/stockout.ts
Due: tslint -c tslint.json, prettier --write

[ImgBot] Optimize images
  screenshot.png
  src/assets/images/react.png
Due: none
